/* Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    color: #efefef;
}

/* Header */
header {
    width: 100%;
    height: 100px;
    background-color: #6763ad;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #d7d7d7;
}

/* Menu */
.menu {
    background-color: #44447e;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

/* Container */
.container {
    width: 100%;
    height: 600px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Form Containers */
.form-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#produtoForm,
#usuarioForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #44447e;
    border-radius: 15px;
}

/* Form Inputs */
#nome,
#preco,
#estoque,
#email,
#senha {
    background-color: #dddddd;
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #000000;
    padding-left: 10px;
}

#cadastrar {
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3da93d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#cadastrar:hover {
    background-color: #138e13;
}

/* Página Inicial */
.link-container {
    height: 400px;
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.page-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.page-icon {
    width: 150px;
    color: #150f20;
}

/* Button Go To */
#button-go-to {
    font-size: large;
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    color: #150f20;
    border: none;
    border-bottom: 2px solid #5e5e5e;
    border-radius: 5px;
    box-shadow: 1px 0px 0px #5e5e5e;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-go-to:hover {
    background-color: #b7b7b7;
    cursor: pointer;
}

#button-go-to a {
    text-decoration: none;
    color: #150f20;
}